<div id="footer" class="panel">
  <div class="panel-footer" style="background-color: #0C3E66">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-5 footer-left">
<!-- 			<a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fircvlab.github.io&count_bg=%23103C64&title_bg=%23000000&icon=smugmug.svg&icon_color=%23E7E7E7&title=Welcome+to+IRCV&edge_flat=false"/></a>		  <p>&copy 2023–2025 IRCV Lab. <a href="/aboutwebsite">more ›</a></p> -->
		   
		   <p>
		     <span id="goatcounter-visits"></span><br><br>
		     #504 Chung Mong-Koo Automotive Research Center, Hanyang University<br>
		     222 Wangsimni-ro, Seongdong-gu<br>
		     Seoul 04763, South Korea
		   </p>
		   
		   <p class="footer-icons">
		     <a href="https://github.com/ircvlab"><i class="fab fa-github"></i></a>
		     <!-- <a href="https://twitter.com/hyeshik"><i class="fab fa-twitter-square"></i></a> -->
		     <!-- <a href="https://pypi.org/user/hyeshik/"><i class="fab fa-python"></i></a> -->
		   </p>
		</div>
		<div class="col-sm-7 footer-links">
		  <!-- We are part of:<br> -->
        <a href="http://hanyang.ac.kr/"><img src="/images/logopic/logo-hanyang.png" class="img-responsive" style="width: 200px; height: 80px;"></a>
        <a href="https://aec.hanyang.ac.kr/"><img src="/images/logopic/logo-future_mobility.png" class="img-responsive" style="width: 200px; height: 80px;"></a>
		<a href="https://ae.hanyang.ac.kr/%ED%99%88"><img src="/images/logopic/logo-hanyang-future_car.png" class="img-responsive" style="width: 200px; height: 80px;"></a>
		</div>
	  </div>
	</div>
  </div>
</div>


<!-- GoatCounter count.js 로드 -->
<script data-goatcounter="https://ircv.goatcounter.com/count" src="//gc.zgo.at/count.js"></script>

<!-- visit_count 안전 호출 -->
<script>
  var t = setInterval(function () {
    if (window.goatcounter) {
      clearInterval(t)
      fetch('https://ircv.goatcounter.com/counter/' + encodeURIComponent(location.pathname) + '.json')
        .then(res => res.json())
        .then(data => {
          document.getElementById('goatcounter-visits').textContent = `${data.count} views`;
        })
        .catch(err => {
          document.getElementById('goatcounter-visits').textContent = 'loading failed..';
        });
    }
  }, 100);
</script>


<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
