<div class="well well-news news-brief">
  <div class="news-header-bar clearfix">
    <h4 class="news-header pull-left">News</h4>
    <h5 class="see-all pull-right"><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">more...</a></h5>
  </div>
  {% for article in site.data.news_2025 %}
    <div class="news-item">
      {% assign parts = article.headline | split: ":" %}
      {% assign tagCandidate = parts[0] | strip %}
      {% if article.headline contains ":" %}
        {% if tagCandidate contains "http" or tagCandidate contains "https" %}
          <p class="news-headline"><em>{{ article.headline }}</em></p>
        {% else %}
          <p class="news-headline">
            <span class="news-tag">{{ tagCandidate }}</span><br>
            <span class="news-headline-text">
              {{ article.headline | remove_first: tagCandidate | remove_first: ":" | strip }}
            </span>
          </p>
        {% endif %}
      {% else %}
        <p class="news-headline"><em>{{ article.headline }}</em></p>
      {% endif %}
      <p class="news-date">{{ article.date }}</p>
    </div>
  {% endfor %}
  
  {% for article in site.data.news_2024 limit:5 %}
    <div class="news-item">
      {% assign parts = article.headline | split: ":" %}
      {% assign tagCandidate = parts[0] | strip %}
      {% if article.headline contains ":" %}
        {% if tagCandidate contains "http" or tagCandidate contains "https" %}
          <p class="news-headline"><em>{{ article.headline }}</em></p>
        {% else %}
          <p class="news-headline">
            <span class="news-tag">{{ tagCandidate }}</span><br>
            <span class="news-headline-text">
              {{ article.headline | remove_first: tagCandidate | remove_first: ":" | strip }}
            </span>
          </p>
        {% endif %}
      {% else %}
        <p class="news-headline"><em>{{ article.headline }}</em></p>
      {% endif %}
      <p class="news-date">{{ article.date }}</p>
    </div>
  {% endfor %}
</div>