.news-brief {
  background-color: #f9f9f9;
  padding: 0.5rem;
  border-radius: 4px;
  
  h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }
  
  .news-item {
    padding: 0.7rem 1rem;
    
    .news-date {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 0.5rem;
      text-align: right !important;
    }
    
    .news-headline {
      margin-bottom: 0.5rem;
      line-height: 1.3;
    }
    
    .news-tag,
    .news-headline-text {
      display: inline-block;
      padding-left: 1rem;
      padding-right: 1rem;
      white-space: normal;
      overflow-wrap: break-word;
    }
    
    .news-headline-text {
      font-weight: bold;
      font-size: 1.6rem;
      vertical-align: middle;
    }
    
    .news-tag {
      background-color: #007bff;
      color: white;
      padding: 2px 5px;
      font-size: 1.4rem;
      border-radius: 4px;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      margin-bottom: 0.6rem;
    }
  }
  
  // 모바일 조정
  @media (max-width: 768px) {
    .news-item {
      .news-headline {
        font-size: 1.6rem;
      }
      .news-tag,
      .news-headline-text {
        font-size: 1.4rem;
      }
      .news-date {
        font-size: 1rem;
      }
    }
  }
}